
body{
    overflow-x: hidden;
}

/* Header */

.header__container{
    background-color: #343A40;
}

.header__imagen{
    width: 155px;
    height: 88px;
}

/* Banner */

.banner{
    position: relative;
    z-index: -50;
    top: 0px;
    width: 100vw;
    height: 100vh;
    filter: brightness(50%);
    background-image: url(imagenes/hawaii.jpg);
}

.banner__container{
    position: absolute;
    z-index: 0px;
    right: 0px;
    bottom: 0px;
    filter: brightness(100%);
    margin: 150px;
}